@import url('https://fonts.googleapis.com/css?family=Duru+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
/* setting variables*/
:root {
  --nav-col-dar:rgb(61, 61, 61);
  --nav-col-lig:rgb(233, 233, 233);
  --font-col-lig:rgb(36, 35, 35);
  --font-col-dar:rgb(0, 0, 0);
  --font-col-sp:rgb(32, 54, 180);
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a{
  text-decoration: none;
}

p{
  font-family: 'Duru Sans', sans-serif;
  color: var(--font-col-lig);
  margin: 1em;
}

header{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color:var(--font-col-dar);
}

h5{
  font-size: 1.5em;
  font-weight: 400;
  color: var(--font-col-dar);
}

code{
  color: var(--font-col-sp);
}

ol,ul{
  color: var(--nav-col-dar);
  font-size: 1.25em;
  margin: 1em;
}

.page{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
}

/* ASIDE*/

aside{
  background-color: var(--nav-col-lig);
  margin-bottom: 1em;
  text-align: center;
  border: solid var(--nav-col-dar) 1.5px;
}

aside header{
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  padding: .75em;
}

aside ul{
  list-style-type: none;
}

aside li{
  padding: 1em;
  border-top: solid 1px black;
  color: var(--nav-col-dar);
  font-size: 1.5em;
}

aside li:hover{
  color: var(--nav-col-lig);
  background-color: var(--nav-col-dar);
}
aside a{
  color: inherit;
}

aside a:hover{
  text-decoration:underline;
}





/* MAIN*/
main{
  padding-top:1em;
}

main header {
  padding: .5em 0 .25em;
}

hr{
  margin:1em .25em;
  color: var(--font-col-sp);
}


.code{
  background-color: var(--nav-col-lig);
  font-size: 1.25em;
  margin: 1em 2em;
  padding: 1em;
  border-left: solid 5px var(--font-col-sp);;
}


@media only screen and (min-width: 900px) {
  body{background-color: aquamarine}

  .page{
    width: 100%;
    margin: 1em auto;
  }

  aside{
    min-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 3px solid var(--font-col-dar); 
  }

  
aside header{
  font-weight: 600;
  font-size: 1.5em;
}

aside ul{
}

aside li{
  font-size: 1em;
}

main{
  margin-left: 300px;
}

}